@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@300&family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add this rule to apply Roboto Slab globally, or selectively to headings, for example */
.roboto-slab {
  font-family: 'Roboto Slab', serif;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.15s; 
}

.slide-fade-enter-active {
  transition-timing-function: ease-out; 
}

.slide-fade-leave-active {
  transition-timing-function: cubic-bezier(1, 0.5, 0.8, 1); 
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
